html{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}
.font{
    font-family:fantasy;
    font-size:30px;
    color:#c871d6;
    margin-top:10px;
}
.font2{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:20px;
    color: #D671C8;
}
.font3{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:20px;
    color: #006eba;
}
#done-button{
    background-color:#0a59ad;
    border:none;
    color:#929ba3;
    padding:3px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
    border-radius:50px;}
#done-button:hover{
    background-color:#8bb8e8;
}
body {
    background-image: url("https://girlwiththecomicbooktattoo.files.wordpress.com/2013/02/flags.jpg");
    background-size: 900px;
    background-repeat:no-repeat;
    background-position:center;
    background-color: #f9f4f9;}